
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>Ryan Boney</title>
</head>
<body>


<div class="container">

  <div class="content">

    <div class="head">ryan boney</div>

    <div class="box">
      <div class="db">Data Analysis</div>
    </div>

    <div class="box">
      <div class="it">IT Support</div>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam cum cumque doloremque ad labore dolores, deleniti, ab deserunt odit provident quia, sequi aut maxime doloribus amet! Laborum tempora voluptates maxime dolores illum. Aliquid, omnis! Similique ex voluptates maiores placeat inventore.
    </div>

    <div class="box">
      <div class="media">Media Production</div>
    </div>

    <div class="box">
      <div class="talent">Talent</div>
    </div>

    <div class="box">
      <div class="code">Software Development</div>
    </div>

    <div class="box">
      <div class="game">Game Development</div>
    </div>

      <div class="foot">ryanboney@gmail.com</div>
      
    </div>
</div>

</body>
</html>