/* BASE STYLES */
:root {
  --clr-dark: #0f172a;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 1%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:#9ca1a1;
  display: flex;
  height: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
  margin: auto;
  scale: auto;
}


.container {
  
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(44, 38, 38);
  border-color: rgb(173, 185, 173);
  border-style: ridge;
  border-width: 2cap;
  border-radius: 33px;
  width: 90%;
  height: 90%;
  margin: auto;
  justify-content: center;
  align-items: center;
  
}

.item {
  
  margin: auto;
  margin-bottom: 1em;
  padding: 1%;
  width: 95%;
  background-color: #278d34;
  font-weight: 666;
  color: var(--clr-light);
  text-align: center;
  border-color: rgb(173, 185, 173);
  border-style: ridge;
  border-width: 2cap;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    height: auto;
  }

}

.subtext {

  flex-direction:column;
  text-align: left;
  width: 33%;

  img {
    width: 80%;
    height: auto;
  }

}

.guard {

  padding: 1em;
  width: 98%;
  height: 100%;
  justify-content: center;
  align-items: center;
  


}

.title {
  padding: 1em;
  height: auto;
  z-index: -1;
  
}




/* END OF BASE STYLES************************************************************************************ */
